
/* comentarios*/    
    .paq{
      color: purple;
      background-color: beige;
      font-family: "Arial"; 
      font-size: 14pt;
    }
    
    .lk{
      color: red;
      text-decoration: none;
    }

